<tr>
  <td class="email-footer">
    <p style="color: #666666; font-size: 14px; margin: 4px 0; font-weight: 500">
      © <%= new Date().getFullYear() %> <%= locals.business %>. Todos los
      derechos reservados.
    </p>
    <p style="color: #666666; font-size: 14px; margin: 4px 0">
      <%= locals.address %> | <%= locals.phone %> | <%= locals.contact %>
    </p>
  </td>
</tr>
