<tr style="color: #034a5b">
  <td align="center">
    <p style="font-size: 12px">
      © <%= new Date().getFullYear() %> <%= locals.business %>. Todos los derechos reservados.
    </p>
    <p style="font-size: 12px">
      <%= locals.address %> | <%= locals.phone %> | <%= locals.contact %>
    </p>
  </td>
</tr>
